.ShoppingBagTracker {
    position: absolute;
    z-index: 1;
    top: 40px;
    right: 60px;
    width: 23px;
    height: 23px;
    line-height: 30px;
    font-size: 18px;
    border-radius: 50%;
    background-color: #27c2ff;
    color: #fff;
    animation: zoom 3s 3s both infinite;
    align-items: center;
}

.ShoppingBagTracker p {
    color: white;
    font-weight: bold;
    top: 0px;
    right: 60px;
    font-size: 15px;
}

.badge { 
    position: relative; 
    top: -20px; 
    left: -25px; 
    border: 1px solid black; 
    border-radius: 50%; 
   } 
button { 
    margin:5px; 
   } 