.Navbar nav{
    margin: 0px auto;
    width: 1170px;
    height: 100px;
    background-color: #e8f4f8;
}

@media screen and (max-width: 1024px) {
    .Navbar nav {
        width: 100%;
        height: auto;
        padding: 20px;
    }

}


