.ShoppingCartItem {
    font-family: Montserrat;
    float: left;
    display: flex;
    align-items: center;
    padding: 40px;
}

.ShoppingCartItem #item:nth-child(2){ 
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

.ShoppingCartItem div#img{
    width: 200px;
    
}

.ShoppingCartItem img{
    width: 50%;

}

.ShoppingCartItem button#qty{
    background-color: transparent;
    font-weight: normal;
    text-transform: lowercase;
    font-size: 15px;
    border: none;
    color: black;
}


.ShoppingCartItem div#title{
    width: 200px;
}

.ShoppingCartItem h1{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: normal;

}

.ShoppingCartItem label{
    font-size: 13px;
    font-weight: bold;
    padding: 40px;
}

.ShoppingCartItem h4{
    font-family: Montserrat;
    font-weight: normal;
    text-transform: lowercase;
    font-size: 15px;
    padding-right: 15px;
}

.ShoppingCartItem h4:hover{
    font-weight: bolder;
    
}

@media screen and (max-width: 1024px) {
    .ShoppingCartItem {
        width: 50%;
        display: block;
    }

    .ShoppingCartItem div#img{
        width: 50%;
        
    }

}