body {
  margin: 0;
  padding: 0;
  font-family: sans-serif ; 
  background-color: #d4ebf2;  

}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('./assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url('./assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
}