.NavigationItem {
    float: none;
    display: inline-block;
}

.NavigationItem a {
    color: black;
    text-decoration: none;
    font-display: 20px;
    text-transform: lowercase;
    display: inline-block;
    padding: 10px 30px;
    font-family: Montserrat;
    
}

.NavigationItem a:hover {
    color: green;
}

@media screen and (max-width: 1024px) {
    .NavigationItem {
        float: none;
        display: block;
    }

}

