.CreateProduct {
    display: inline-block;
    font-family: Montserrat;
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.CreateProduct input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: hsl(0, 0%, 32%);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid hsl(0, 0%, 32%);
    outline: none;
    background: transparent;
}

.CreateProduct label {
    text-transform: lowercase;
}

.CreateProduct input#file {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: hsl(0, 0%, 32%);
    margin-bottom: 30px;
    border: none;
    outline: none;
    background: transparent;
}


.CreateProduct textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: hsl(0, 0%, 32%);
    margin-bottom: 30px;
    border: 1px solid hsl(0, 0%, 32%);
    outline: none;
    background: transparent;
    margin-top: 30px;
}


.CreateProduct h1 {
    text-transform: uppercase;
    font-size:  20px;
    font-weight: normal;
}

.CreateProduct div#deleteProduct {
    padding: 40px;
    border: solid 1px hsl(0, 0%, 32%);
    width: 500px;
    
}

.CreateProduct div#createProduct {
    padding: 40px;
    border: solid 1px hsl(0, 0%, 32%);
    width: 500px;
    
}

.CreateProduct div#updateProduct {
    padding: 40px;
    border: solid 1px hsl(0, 0%, 32%);
    width: 500px;
   
}
.CreateProduct img#filePreview {
    width: 450px;
    
}

.CreateProduct button#submit {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: hsl(0, 0%, 19%);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background-color: transparent;
    border: solid 1px hsl(0, 0%, 19%);
}

.CreateProduct button#submit:hover{
    border: solid 3px sl(0, 0%, 19%);
    background-color: rgba(255, 255, 255, 0.637);
}

.CreateProduct button#submit:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #dbd9d9;
  color: #666666;
}

