.FullProduct #product {
    position: absolute;
    width: 35%;
    height: 100%;
    top: 25%;
    left: 50%;
}

.FullProduct #image {
    width: 60%;
    margin-top: 47px;
    
}

.FullProduct img {
    width: 50%;
    background-color: white;
}


.FullProduct h2 {
    color: #C3A1A0;
    margin-top: -5px;   
}

.FullProduct h1 {
    color: #4E4E4E;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 20px;
    font-family: Lato;
    display: grid;
    letter-spacing: 1px;
    font-weight: normal;
}

.FullProduct p {
    
    font-family: Montserrat;
    color: #4E4E4E;
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 17px;
    font-size: .8em;
    line-height: 1.6em;
    margin-right: 25px;
    text-align: justify;
 
}

.FullProduct button {
    background: #E0C9CB;
    padding: 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #F5F5F5;
    cursor: pointer;
    width: 67%;
    
  }
  
  .FullProduct button:hover {
    background: #BA7E7E;
    transition: all .4s ease-in-out;
    color: #F5F5F5;
  }

 