.AdminPanel {
    font-family: Montserrat;
    float: left;
    display: flex;
    align-items: center;
    padding: 40px;
}

.AdminPanel #item:nth-child(2){ 
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

.AdminPanel div#img{
    width: 200px;
    display: inline-block;
    
}
.AdminPanel div#product{
    width: 1000px;
    
}

.AdminPanel img{
    width: 50%;
    display: inline-block;
}



.AdminPanel div#title{
    width: 200px;
    display: inline-block;
}

.AdminPanel h1{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: normal;

}

.AdminPanel label{
    font-size: 13px;
    font-weight: bold;
    padding: 40px;
    display: inline-block;
}

.AdminPanel h4{
    font-family: Montserrat;
    font-weight: normal;
    text-transform: lowercase;
    font-size: 15px;
    padding-right: 15px;
    display: inline-block;
}

.AdminPanel h4:hover{
    font-weight: bolder;
    
}

.AdminPanel button#submit {
    position: relative;
        
    padding: 10px 20px;
    color: hsl(0, 0%, 19%);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background-color: transparent;
    border: solid 1px hsl(0, 0%, 19%);
}

.AdminPanel button#submit:hover{
    border: solid 3px sl(0, 0%, 19%);
    background-color: rgba(255, 255, 255, 0.637);
}

.AdminPanel button#submit:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #dbd9d9;
  color: #666666;
}


@media screen and (max-width: 1024px) {
    .AdminPanel {
        width: 50%;
        display: block;
    }

    .AdminPanel div#img{
        width: 50%;
        
    }

}