
.DeleteDialog div#dialog {

    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border-radius: 10px;
    background: #fff;
    padding: 20px;
   
}

.DeleteDialog button#ok {
    text-transform: uppercase;
    font-size: 11px;
    background: #e0bfc2;
    padding: 10px;
    display: inline-block;
    outline: 0;
    border: 0.5rem outset pink;
    margin: -1px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #F5F5F5;
    cursor: pointer;
    width: 20%;
}

.DeleteDialog button:hover {
    background: #BA7E7E;
    transition: all .4s ease-in-out;
    color: #F5F5F5;
  }
.DeleteDialog span {
    position:absolute;
    right: 310px;
    top: 210px;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    opacity: 0.4;
    transition: ease .3s;
}

.DeleteDialog  {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 500%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    font-family: Montserrat;
}

