.Product {
    flex: 1;
    font-family: Montserrat;
}

.Product img {
    width: 50%;
}


.Product h5 {
    text-transform: capitalize;
    color: rgb(59, 59, 59);
}

.Product p {
    font-weight: bold;
    color: rgb(59, 59, 59);
}

.Product button {
   
    background: #e0bfc2;
    padding: 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #F5F5F5;
    cursor: pointer;
    width: 67%;
}

.Product button:hover {
    background: #BA7E7E;
    transition: all .4s ease-in-out;
    color: #F5F5F5;
  }
