.Payment {
    font-family: Montserrat;
    padding: 40px;
}

.Payment h1{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
    padding-bottom: 20px;
}


.Payment div#method{
    width: 400px;
    padding: 40px;
    display: inline-block;
    padding: 20px;
}

.Payment img{
    width: 120px;
    padding: 20px;
    
}

.Payment div#info {
    padding: 20px;
    width: 100%;
}

.Payment div#paymentMethod {
    width: 50%;
    text-align: left;
    padding-top: 40px;
}

.Payment div#table {
    text-align: left;
}

.Payment table {
    width: 100%;
    table-layout: fixed;
}

.Payment table#orderInfo {
    background-color: #BA7E7E;
}

.Payment td {
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 13px;
    color: black;
    font-family: Montserrat;
    border: solid 1px hsl(0, 0%, 28%);
    background-color: rgba(255, 255, 255, 0.863);
}

.Payment button#submit{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: hsl(0, 0%, 19%);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background-color: transparent;
    border: solid 1px hsl(0, 1%, 27%);
    align-content: center;
}

.Payment button#submit:hover{
    border: solid 3px sl(0, 0%, 19%);
    background-color: rgba(255, 255, 255, 0.637);
}
