.SideBar {
    width:100%;
    height:100%;
}

.SideBar li {
    list-style-type: none;
}

.SideBar a {
    color: black;
    font-size: 13px;
    text-decoration: none;
    font-family: Montserrat;
}

.SideBar a:hover {
    font-weight: bolder;
}

.SideBar h2 {
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: normal;
}

.SideBar h3 {
    color: #4E4E4E;
    font-size: 13px;
    text-transform: lowercase;
    font-weight: bolder;
}

.SideBar h4 {
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 18px;
    color: #4E4E4E;
    
}

.SideBar span {
    position:absolute;
    right:20px;
    top:20px;
    font-size:20px;
    padding:10px;
    cursor:pointer;
    opacity:0.4;
    transition:ease .3s;

}

.SideBar span:hover {
    opacity:1;
  }

.SideBar div#backdrop{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;    
    cursor: pointer;

}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

.SideBar div#sideBar{
    padding-top: 40px;
    position: absolute;
    height: 100%;
    width: 40%;
    background: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    transition: .5s ease-out;
    -webkit-box-shadow: -1px 0px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: -1px 0px 8px 0px rgba(0,0,0,0.1);
    box-shadow: -1px 0px 8px 0px rgba(0,0,0,0.1);
    overflow-y : auto;

}

@media(min-width:768px){
    .SideBar div#sideBar{
        width:500px;
    }
  }