    .ShoppingCart div#checkout{
        font-family: Montserrat;
        align-items: center;
        width: 350px;
        float: right;
        position: fixed;
        right: 150px;
        padding-top: 40px;
    }

    .ShoppingCart div#shipping {
        display: flex;
        font-size: 15px;
        
    }
    

    .ShoppingCart label {
        display: block;
        text-align: left;
        padding: 10px;
    }

    .ShoppingCart label#grandTotal {
        font-weight: bold;
        text-transform: uppercase;
        color: #4E4E4E;
    }

    .ShoppingCart button#checkoutButton {
        width: 350px;
        text-transform: uppercase;
        padding: 6px;
        height: 50px;
        color: #f6f6f6;
        font-family: 'Montserrat';
        font-size: 15px;
        font-weight: bold;
        border: #fff 2px solid;
        cursor: pointer;
        box-shadow: 0px 0px 0px #fff;
        background: #E0C9CB;
    }

    .ShoppingCart button#checkoutButton {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.4s;
      }
    
    .ShoppingCart button#checkoutButton:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
      
    .ShoppingCart button#checkoutButton:hover  {
        padding-right: 25px;
      
    }
      
    .ShoppingCart button#checkoutButton:after {
        opacity: 1;
        right: 0;
    }
     
    @media screen and (max-width: 1024  px) {
      .ShoppingCart button#checkoutButton{
          width: 50%;

      }


      .ShoppingCart div#shipping {
        display: block;
    }
  

  }