.NavigationItems {
    margin: 0;
    padding: 0;
    padding-top: 40px;
    list-style-type: none;
    text-align: right;
    display: block;
    height: 40px;
}

.NavigationItems form{
    float: left;
    padding: 7px 20px;

}

.NavigationItems input {
    
    width: 70%;
    height: 50%;
    padding: 5px 25px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 12px;
    line-height: 18px;
        
    color: #575756;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

}

.NavigationItems input:hover {
    padding: 12px 15px;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}

.NavigationItems input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}

.NavigationItems ::placeholder {
    color: color(#575756 a(0.8));
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 12px;
}

.NavigationItems li:nth-child(1){
    float: left;
}

@media screen and (max-width: 1024px) {
    .NavigationItems li{
        margin-top: 25px;
        text-align: left;
    }

}