
  
  .CardForm {
    font-family: Montserrat;
    width: 400px;
    padding: 40px;
    border: solid 1px rgb(59, 59, 59);
    background: white;
  }
  
  
  .CardForm button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: hsl(0, 0%, 19%);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background-color: transparent;
    border: solid 1px hsl(0, 0%, 19%);
    align-content: center;
  }

  .CardForm button:hover{
    border: solid 3px sl(0, 0%, 19%);
    background-color: rgba(255, 255, 255, 0.637);
}

  
  .CardForm div#productInfo {
    padding: 0 16px;
  }

  .CardForm div#cardElement {
    padding: 40px;
    width: 70%;
  }

  
  .CardForm h3 {
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: normal;
  }
  
  .CardForm h4 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 30px;
    color: #777;
    font-weight: 500;
  }