.Quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.Quantity button{
    
    font-family: Lato;
    padding: .0rem;
    width: 3rem;
    font-size: 1.5rem;
    background: #f7f7f7;
    color: #888;
    border: 0 solid #dbdbdb;
    text-align: center;
    text-shadow: 0 1px 0 rgba(#fff, .6);
    cursor: pointer;
}

.Quantity button:disabled{
    
    color: rgb(121, 121, 121); 
}

.Quantity input{

    color: #888;
    font-family: Lato;
    user-select: none;
    outline: none;
    width: 2.5rem;
    padding: 0.3rem;
    font-size: 1.0rem;
    border: 0;
    border-top: 0 solid #dbdbdb;;
    border-bottom: 0 solid #dbdbdb;;
    text-align: center;
}