.Register {
    display: inline-block;
    font-family: Montserrat;
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: solid 1px hsl(0, 0%, 32%);
    width: 700px;
}

.Register select {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: hsl(0, 0%, 32%);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid hsl(0, 0%, 32%);
    outline: none;
    background: transparent;
}

.Register input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: hsl(0, 0%, 32%);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid hsl(0, 0%, 32%);
    outline: none;
    background: transparent;
}


.Register a:hover {
    font-weight: bold;
}

.Register div#h1{
    padding-bottom: 40px;
}


.Register h1{
    text-transform: uppercase;
    font-size:  20px;
    font-weight: normal;
}

.Register button#submit{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: hsl(0, 0%, 19%);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background-color: transparent;
    border: solid 1px hsl(0, 0%, 19%);
}

.Register button#submit:hover{
    border: solid 3px sl(0, 0%, 19%);
    background-color: rgba(255, 255, 255, 0.637);
}


.Register div#error {
    height: 20px;
}

.Register p {
    margin: 0%;
    text-transform: uppercase;
    font-size: 12px;
    color: indianred;
    animation-name: shake, glow-red;
    animation-duration: 0.7s, 0.35s;
    animation-iteration-count: 1, 2;
}

@keyframes shake {
    0%, 20%, 40%, 60%, 80% {
      transform: translateX(8px);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-8px);
    }
}
  
@keyframes glow-red {
    50% {
      border-color: indianred;
    }
}
