.UpdateProduct {
    display: inline-block;
    font-family: Montserrat;
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.UpdateProduct label {
    text-transform: lowercase;
}

.UpdateProduct div#label {
  margin-bottom: 20px;
  margin-top: 20px;
}




.UpdateProduct h1 {
    text-transform: uppercase;
    font-size:  20px;
    font-weight: normal;
}


.UpdateProduct img#filePreview {
    width: 450px;
    
}

.UpdateProduct button#submit {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: hsl(0, 0%, 19%);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background-color: transparent;
    border: solid 1px hsl(0, 0%, 19%);
}

.UpdateProduct button#submit:hover{
    border: solid 3px sl(0, 0%, 19%);
    background-color: rgba(255, 255, 255, 0.637);
}

.UpdateProduct button#submit:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #dbd9d9;
  color: #666666;
}


.UpdateProduct button {
    border-radius: 5px;
    
  }
 
.UpdateProduct  button[editext="edit-button"] {
    color: #F5F5F5;
    width: 50px;
    background-color: transparent;
    border:none;
}
 
.UpdateProduct  button[editext="save-button"] {
    width: 50px;
    color: #F5F5F5;
    width: 50px;
    background-color: transparent;
    border:none;
  }

.UpdateProduct   button[editext="cancel-button"] {
    
    color: #F5F5F5;
    width: 50px;
    background-color: transparent;
    border:none;
     
  }
 
.UpdateProduct  input, textarea {
    
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    width: 400px;
    border: white;
    font-family: Montserrat;
  }
 
.UpdateProduct  div[editext="view-container"], div[editext="edit-container"] {
    background: #6293C3;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    width: 500px;
}

input[type="file"] {
    font-family: Montserrat;
    color: black;
    text-transform: capitalize;
}


