.SideBarItem h3{
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 18px;
    
}

.SideBarItem {
    max-width: 22rem;
    margin: 2rem auto;
    line-height: var(--lh);
    font-family: Montserrat;
}

.SideBarItem h4 {
    font-family: Montserrat;
    font-weight: normal;
    text-transform: lowercase;
    font-size: 15px;

}

.SideBarItem h2 {
    font-family: Montserrat;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;

}

.SideBarItem h4:hover{
    font-weight: bolder;
}