.Logo {
    position: absolute;
    left: 50%;
    top: 0%;
    content: "";
    margin-left: -100px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .Logo {
        padding-left: 20px;
    }
    .Logo img {
        max-width: 100%;
        height: auto;
        width: auto\9;
    }
}